<div class = "games_new_body">

<div id="hamburg">
  <input id="input" type="checkbox">
  <div class="burg">
    <label id="label1" for="input">
      <i class="fas fa-times gameguide"></i>
    </label>
  </div>
  <div id="content">
    <div class="pathlink">
      <%= link_to "Top", games_top_path, class: 'path' %>
    </div>
    <div class="pathlink">
      <%= link_to "App", games_app_path, class: 'path' %>
    </div>
    <div class="pathlink">
      <%= link_to "Music", games_path, class: 'path' %>
    </div>
    <div class="pathlink">
      <%= link_to "Play Lists", playlists_path, class: 'path' %>
    </div>
      <% if user_signed_in? %> 
        <div class="pathlink">
          <%= link_to "My Page", user_path(current_user.id), class:'path' %>
        </div>
      <% else %>
        <div class="pathlink">
          <%= link_to 'Sign In', new_user_registration_path, class:"path" %>
        </div>
      <% end %> 
  </div>
</div>

  <h3 class = games_new_title_h3>Log in</h3>
  <div class = "games_new_form_body">



  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      

      <%= render "users/shared/error_messages", resource: resource %>
    
      <div class = "games_new_short_field">
        <div class="field">
          <p><%= f.label :name %></p>
          <%= f.text_field :name, autofocus: true, class: "gameform" %>
        </div>
      </div>  

      <div class = "games_new_short_field mtop">
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "gameform" %>
        </div>
      </div>  
    
      <div class="games_new_short_field actions">
        <%= f.submit "Log in" %>
      </div>

    <% end %>
  
    </div>

    <p class="whitewhite"><%= render "users/shared/links"%></p>
</div>


