<div class = "games_new_body">
  <h3 class = games_new_title_h3>Log in</h3>
  <div class = "games_new_form_body">



  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      

      <%= render "users/shared/error_messages", resource: resource %>
    
      <div class = "games_new_short_field">
        <div class="field">
          <p><%= f.label :name %></p>
          <%= f.text_field :name, autofocus: true, class: "gameform" %>
        </div>
      </div>  

      <div class = "games_new_short_field mtop">
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "gameform" %>
        </div>
      </div>  
    
      <div class="games_new_short_field actions">
        <%= f.submit "Log in" %>
      </div>

    <% end %>
  
    </div>

    <p class="whitewhite"><%= render "users/shared/links"%></p>
</div>


