<h1>users#show</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.games.each do |t| %>
  
  <%= t.user.name %>
  <%= t.body %>
<% end %>

<h2>ユーザーのプレイリスト</h2>
<% @user.playlists.each do |t| %>
  <%= t.content %>
  <% t.games.each do |u| %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= u.youtube_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <% end %>
<% end %>

<!-- 以下はいいね機能を実装している場合-->
<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_games.each do |t| %>
  <%= t.user.name %>
  <%= t.body %>
<% end %>

<div>
<%= render "follow_form" %>
</div>

<%= link_to "投稿一覧に戻る", games_path %>