<div id="hamburg">
  <input id="input" type="checkbox">
  <div class="burg">
    <label id="label1" for="input">
      <i class="fas fa-times gameguide"></i>
    </label>
  </div>
  <div id="content">
    <div class="pathlink">
      <%= link_to "Top", games_top_path, class: 'path' %>
    </div>
    <div class="pathlink">
      <%= link_to "App", games_app_path, class: 'path' %>
    </div>
    <div class="pathlink">
      <%= link_to "Music", games_path, class: 'path' %>
    </div>
    <div class="pathlink">
      <%= link_to "Play Lists", playlists_path, class: 'path' %>
    </div>
      <% if user_signed_in? %> 
        <div class="pathlink">
          <%= link_to "My Page", user_path(current_user.id), class:'path' %>
        </div>
      <% else %>
        <div class="pathlink">
          <%= link_to 'Sign In', new_user_registration_path, class:"path" %>
        </div>
      <% end %> 
  </div>
</div>
<h1 class="center sp mtop">曲(Game)一覧</h1>

<h3 class="center mtop sp">投稿を検索</h3>
<%= form_tag({controller:"games",action:"index"}, method: :get) do %>
    <p class="center mtop mbottom sp"><%= text_field_tag :search %></p>
    <p class="center mtop mbottom sp"><%= submit_tag '検索する'  %></p>
<% end %>
<%= form_tag games_path, method: :get, class: 'boards__searchForm' do %>
    <p class="center mtop mbottom sp"><%= select_tag :tag_id,
                options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                {
                    prompt: 'タグで絞り込み検索',
                    onchange: 'submit(this.form);'
                }
    %></p>
<% end %>

<hr>

<p class="center mtop sp"><%= link_to "新規Game作成", new_game_path, class: "whitewhite" %></p>
<p class="center mtop sp mbottom"><%= link_to "新規プレイリスト作成", new_playlist_path, class: "whitewhite" %></p>

<hr>

<h2 class="center mtop mbottom sp"><人気の曲Top3></h2>
<% @rank_games.each do |g| %>
    <div class="tweet">
        <p class="center mtop mbottom sp"><%= link_to g.user.email , game_path(g.id)  %></p>
        <p class="center mtop mbottom sp">曲名：<%= g.title %></p>
        <p class="center mtop mbottom sp">説明：<%= g.body %></p>

        <p class="center mbottom sp"><iframe width="320" height="180" src="https://www.youtube.com/embed/<%= g.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>


            <% if user_signed_in? %>
                <% if current_user.already_liked?(g) %>
                    <%= link_to game_like_path(id: g.id, game_id: g.id), method: :delete do %>
                        <i class="fas fa-heart"></i><%= g.likes.count %>
                    <% end %>
                <% else %>
                    <%= link_to game_likes_path(id: g.id, game_id: g.id), method: :post do %>
                        <i class="far fa-heart"></i><%= g.likes.count %>
                    <% end %>
                <% end %>
            <% else %>
                <i class="far fa-heart"></i><%= g.likes.count %>
            <% end %>



        <% g.tags.each do |tag| %>
            <%= tag.name %>
        <% end %>  

        <%= link_to "編集する", edit_game_path(g.id) %>
        <%= button_to "削除する", game_path(g.id), method: :delete %>

    </div>
<% end %>

<hr>
<h2 class="center mtop mbottom sp"><新規Game></h2>

<div class="tweets-container">
    <% @game.each do |g| %>
        <div class="tweet">
            <p class="center mtop mbottom sp"><%= link_to g.user.email , game_path(g.id)  %></p>
            <p class="center mtop mbottom sp whitewhite">曲名：<%= g.title %></p>
            <p class="center mtop mbottom sp">説明：<%= g.body %></p>


            <p class="center mbottom sp"><iframe width="320" height="180" src="https://www.youtube.com/embed/<%= g.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>


                <% if user_signed_in? %>
                    <% if current_user.already_liked?(g) %>
                        <%= link_to game_like_path(id: g.id, game_id: g.id), method: :delete do %>
                            <i class="fas fa-heart"></i><%= g.likes.count %>
                        <% end %>
                    <% else %>
                        <%= link_to game_likes_path(id: g.id, game_id: g.id), method: :post do %>
                            <i class="far fa-heart"></i><%= g.likes.count %>
                        <% end %>
                    <% end %>
                <% else %>
                    <i class="far fa-heart"></i><%= g.likes.count %>
                <% end %>



            <% g.tags.each do |tag| %>
                <%= tag.name %>
            <% end %>

            <%= link_to "編集する", edit_game_path(g.id) %>
            <%= button_to "削除する", game_path(g.id), method: :delete %>

        </div>

    <% end %>

    <hr>

<div class="mtop"><%= paginate @game %></div>

<p class="mtop"></p>

<% if user_signed_in? %>
    <%= link_to "マイページへ", user_path(current_user.id) %>　
    <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "新規登録", new_user_registration_path %>
<% end %>
  
</div>