<div class = "games_new_body">
  <h3 class = games_new_title_h3>New Post</h3>
  <div class = "games_new_form_body">
    <%= form_for @game do |f| %>
      <div class = games_new_short_field>
        <div>
          <%= f.text_field :title, :placeholder => "Game Title"  %>
        </div
      </div>
      <div class = games_new_short_field>
        <div>
          <%= f.text_field :youtube_url, :placeholder => "Youtube URL" %>
        </div>
      </div>
      <div class = games_new_long_field>
        <div class = games_new_text_field_back>
          <%= f.text_area :body, :placeholder => "Game Detail" %>
        </div>
      </div>
      <div>
        <%= f.submit "投稿する" %>
      </div>
    <% end %>
  </div>
</div>
