<h1>osakedaisuki</h1>
<h3>Tweet詳細</h3>
<div class="tweet">
  <p><%= @game.body %></p>
  <p><%= @game.created_at %></p>
  <%= link_to "編集する", edit_game_path(@game.id) %>

  <% if user_signed_in? %>
      <% if current_user.already_liked?(@game) %>
          <%= link_to game_like_path(@game), method: :delete do %>
            <i class="fas fa-heart"></i><%= @game.likes.count %>
          <% end %>
      <% else %>
          <%= link_to game_likes_path(@game), method: :post do %>
            <i class="far fa-heart"></i><%= @game.likes.count %>
          <% end %>
      <% end %>
  <% else %>
  <i class="far fa-heart"></i><%= @game.likes.count %>
  <% end %>
</div>

<%= link_to "Tweet一覧に戻る", root_path %>