<h1 class = "center mtop mbottom" >Playlist一覧</h1>
<h3 class = "center mtop mbottom" >(最大3曲まで表示)</h3>


<div class="tweets-container">
  
  <% @playlists.each do |p| %>
    <p class = "center mtop mbottom"><%= link_to p.content, playlist_path(p.id) %></p>

    
    <% p.games.first(3).each do |g| %>
      <p class="center mbottom sp"><iframe width="320" height="180" src="https://www.youtube.com/embed/<%= g.youtube_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
    <% end %>

    <hr>
  <% end %>

    <%= link_to "プレイリスト作成へ", new_playlist_path %>
    <%= link_to "game一覧へ", games_path %>
    
    <% if user_signed_in? %>
        <%= link_to "マイページへ", user_path(current_user.id) %>
    <% end %>

    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "新規登録", new_user_registration_path %>
    <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>

</div>