<h1 class = "center mtop mbottom" >Playlist一覧</h1>
<h3 class = "center mtop mbottom" >(最大3曲まで表示)</h3>

<hr>

  <p class="center mtop sp"><%= link_to "Topへ", root_path, class: "whitewhite" %></p>
  <p class="center mtop mbottom sp"><%= link_to "新規プレイリスト作成", new_playlist_path, class: "whitewhite" %></p>
  <p class="center mtop mbottom sp"><%= link_to "game一覧へ", games_path,class: "whitewhite" %></p>
  
<hr>

<div class="tweets-container">
  
  <% @playlists.each do |p| %>
    <p class = "center mtop mbottom">〜<%= link_to p.content, playlist_path(p.id),class: "whitewhite" %>〜</p>

    
    <% p.games.first(3).each do |g| %>
      <p class="center mbottom sp"><iframe width="320" height="180" src="https://www.youtube.com/embed/<%= g.youtube_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
    <% end %>

    <hr>
  <% end %>

    <p class="center mtop sp"><%= link_to "新規プレイリスト作成", new_playlist_path,class: "whitewhite" %></p>
    <p class="center mtop mbottom sp"><%= link_to "game一覧へ", games_path,class: "whitewhite" %></p>
    
    <% if user_signed_in? %>
        <p class="center mtop mbottom sp"><%= link_to "マイページへ", user_path(current_user.id),class: "whitewhite" %>
    <% else %>
      <p class="center mtop mbottom sp"><%= link_to "ログイン", new_user_session_path,class: "whitewhite" %></p>
      <p class="center mtop mbottom sp"><%= link_to "新規登録", new_user_registration_path,class: "whitewhite" %></p>
    <% end %>

</div>