<div class = playlist_new_body>

<div id="hamburg">
  <input id="input" type="checkbox">
  <div class="burg">
    <label id="label1" for="input">
      <i class="fas fa-times gameguide"></i>
    </label>
  </div>
  <div id="content">
    <div class="pathlink">
      <%= link_to "Top", games_top_path, class: 'path' %>
    </div>
    <div class="pathlink">
      <%= link_to "App", games_app_path, class: 'path' %>
    </div>
    <div class="pathlink">
      <%= link_to "Music", games_path, class: 'path' %>
    </div>
    <div class="pathlink">
      <%= link_to "Play Lists", playlists_path, class: 'path' %>
    </div>
      <% if user_signed_in? %> 
        <div class="pathlink">
          <%= link_to "My Page", user_path(current_user.id), class:'path' %>
        </div>
      <% else %>
        <div class="pathlink">
          <%= link_to 'Sign In', new_user_registration_path, class:"path" %>
        </div>
      <% end %> 
  </div>
</div>

  <h3 class = playlist_new_title_h3>New Playlist</h3>
  <div class = "playlist_new_form_body">
    <%= form_for @playlist do |f| %>
      <div class = playlist_new_title_field><%= f.text_field :content, :placeholder => "Playlist Title" %></div>
      <div class="playlist_check_field">
       <p class = playlist_game_label>Games</p>
        <%= collection_check_boxes(:playlist, :game_ids, Game.all, :id, :title) do |b| %>
          <span class="checkboxcolor"><%= b.label { b.check_box + b.text } %></span><br>
        <% end %>
      </div>
      <div class = submit_field>
        <%= f.submit "プレイリストを作成" %>
      </div>
    <% end %>
  </div>

  <p class="center mtop mbottom"><%= link_to "プレイリスト一覧へ", playlists_path,class: "whitewhite" %></p>
</div>