<div id="hamburg">
  <input id="input" type="checkbox">
  <div class="burg">
    <label id="label1" for="input">
      <i class="fas fa-times gameguide"></i>
    </label>
  </div>
  <div id="content">
    <div class="pathlink">
      <%= link_to "Top", games_top_path, class: 'path' %>
    </div>
    <div class="pathlink">
      <%= link_to "App", games_app_path, class: 'path' %>
    </div>
    <div class="pathlink">
      <%= link_to "Music", games_path, class: 'path' %>
    </div>
    <div class="pathlink">
      <%= link_to "Play Lists", playlists_path, class: 'path' %>
    </div>
      <% if user_signed_in? %> 
        <div class="pathlink">
          <%= link_to "My Page", user_path(current_user.id), class:'path' %>
        </div>
      <% else %>
        <div class="pathlink">
          <%= link_to 'Sign In', new_user_registration_path, class:"path" %>
        </div>
      <% end %> 
  </div>
</div>

<h1 class = "center mtop mbottom" >Playlist詳細</h1>
<div class="playlist">
  <h2 class = "center mtop mbottom"><%= @playlist.content %></h2>
  <br>

  <p class = "center mtop mbottom" ><%= link_to "ホームに戻る", root_path, class: "whitewhite" %></p>
  <p class = "center mtop mbottom" ><%= link_to "プレイリスト一覧へ戻る", playlists_path, class: "whitewhite" %></p>


<% if user_signed_in? %>
  <% if current_user.id == @playlist.user_id %>
    <p class = "center mtop mbottom" ><%= link_to "プレイリストを編集する", edit_playlist_path(@playlist.id), class: "whitewhite" %></p>
  <% end %>

<% end %>
<br>
<hr>

<div class="tabs sptabs">
    <input id="all" type="radio" name="tab_item" checked>
    <label class="tab_item" for="all">My Playlist</label>
    <input id="programming" type="radio" name="tab_item">
    <label class="tab_item" for="programming">シャッフル</label>
    <input id="design" type="radio" name="tab_item">
    <label class="tab_item" for="design">追加順</label>

    <div class="tab_content center" id="all_content">
        <div class="tab_content_description">
            <% @games.each do |g| %>
                <h4 class = "center mtop mbottom" >飲み曲タイトル：<%= g.title %></h4>
                <p class = "center mtop mbottom" >説明：<%= g.body %></p>
                <iframe width="320" height="180" src="https://www.youtube.com/embed/<%= g.youtube_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <% if user_signed_in? %>
                    <% if current_user.id == @playlist.user_id %>  
                        <%= link_to playlist_playlistgame_path(@playlist, g), method: :delete do %>
                            <p class = "center mtop mbottom" >プレイリストから削除</p>
                        <% end %>
                    <% end %>
                <% end %>
                
                <hr>
            <% end %>
        </div>
    </div>

    <div class="tab_content center" id="programming_content">
        <div class="tab_content_description">
            <% @randam_games.each do |g| %>
                <h4 class = "center mtop mbottom" >飲み曲タイトル：<%= g.title %></h4>
                <p class = "center mtop mbottom" >説明：<%= g.body %></p>
                <iframe width="320" height="180" src="https://www.youtube.com/embed/<%= g.youtube_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <% if user_signed_in? %>
                    <% if current_user.id == @playlist.user_id %>  
                        <%= link_to playlist_playlistgame_path(@playlist, g), method: :delete do %>
                            <p class = "center mtop mbottom" >プレイリストから削除</p>
                        <% end %>
                    <% end %>
                <% end %>
                
                <hr>
            <% end %>
        </div>
    </div>

    <div class="tab_content center" id="design_content">
        <div class="tab_content_description">
            <% @randam_games2.each do |g| %>
                <h4 class = "center mtop mbottom" >飲み曲タイトル：<%= g.title %></h4>
                <p class = "center mtop mbottom" >説明：<%= g.body %></p>
                <iframe width="320" height="180" src="https://www.youtube.com/embed/<%= g.youtube_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               
                <% if user_signed_in? %>
                    <% if current_user.id == @playlist.user_id %>  
                        <%= link_to playlist_playlistgame_path(@playlist, g), method: :delete do %>
                            <p class = "center mtop mbottom" >プレイリストから削除</p>
                        <% end %>
                    <% end %>
                <% end %>
                <hr>
            <% end %>
        </div>
    </div>
</div>


<hr>

<% if user_signed_in? %>
  <% if current_user.id == @playlist.user_id %>   
    <p class = "center mtop mbottom" ><%= link_to "プレイリストを編集する", edit_playlist_path(@playlist.id), class: "whitewhite" %></p>
  <% end %>
<% end %>

</div>

<p class = "center mtop mbottom" ><%= link_to "プレイリスト一覧へ戻る", playlists_path, class: "whitewhite" %></p>
<p class = "center mtop mbottom" ><%= link_to "ホームに戻る", root_path, class: "whitewhite" %></p>